div {
	width: 100%;
	height: 400px;
	position: absolute;
	animation:coloring 9s 3;
	background-color: #333;
	color: #fff

}

@keyframes coloring{
	from{
      	background-color: #333
	}
	to{
 
        background-color: #b45
	}
}

